.wrapper {

    @apply w-full h-full flex items-center justify-center fixed z-10;

    .card {

        @apply w-[760px] flex flex-col gap-7 p-10 rounded-2xl bg-white absolute z-20;

        .text {

            @apply font-medium text-xl text-text-black;

            .highlight {

                @apply text-message-wrong;

            }

        }

    }

    .background {
        @apply w-full h-screen bg-text-black opacity-80;
    }

}