.layout {

    @apply w-[356px] flex flex-col justify-between items-center h-full py-[50px] px-[40px];

    .group {
        @apply w-full flex flex-col items-center gap-10
    }

    .bottomGroup {
        @apply gap-5
    }

    .divider {
        @apply w-full border-[1px] border-background-blue
    }

    .bottomTabCol {
        @apply w-full flex flex-col items-start
    }

    .logo {
        @apply h-[40px] w-[200px]
    }
}