.tab {
    display: flex;
    padding: 20px 70px;
    font-weight: normal;
    justify-content: center;
    color: var(--text-gray, #B6C1CE);
    align-items: center;
    border: 2px solid #EEF5F9;
    background: none;
}

.selected {
    font-weight: bold;
    color: var(--text-black, #181818);
    background: var(--background-light-blue, #EEF5F9);
}

.tab:hover {
    cursor: pointer;
}

.leftTab {
    border-radius: 10px 0 0 10px;
    border-right: none;
}

.rightTab {
    border-radius: 0 10px 10px 0;
}