.wrapper {

    @apply flex flex-col w-full gap-3;

    .labelText {
        @apply text-black text-lg;
    }

    .dropdown {
        @apply p-5 rounded-xl bg-white flex flex-row justify-between items-center;
    }

    .placeholder {
        @apply text-text-gray text-lg;
    }

}