.button {
    @apply w-full h-fit py-5 rounded-xl text-white text-lg bg-black border-0;
}

button:hover {
    @apply bg-text-black;
}

.row {
    @apply flex flex-row px-8 items-center justify-center gap-[10px];
}

