.outer {
    display: flex;
    min-height: 100vh;
    justify-content: start;
    align-items: center;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}