.layout {
  @apply flex flex-col justify-center w-full;
}

.input {

  @apply flex w-full px-5 py-[20px] text-base text-text-black rounded-xl border-0 bg-white;

  &:focus {
    @apply outline-0;
  }

  &::placeholder {
    @apply text-text-gray;
  }

}

.wrapper {

  @apply relative;

  .icon {
    @apply absolute right-5 box-border top-1/3;
  }

}

