body {
    font-family: 'Montserrat', sans-serif;
}

label {
    color: var(--text-black, #181818);
    font-family: Gilroy, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}