@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    max-height: 100vh;
    max-width: 100vw;
}

label {
    @apply text-text-black text-lg font-normal
}

p {
    @apply text-text-black align-middle text-2xl font-semibold
}

a {
    @apply text-text-gray text-lg font-normal
}