.layout {

    @apply col-span-full grid grid-cols-8 gap-[20px] pt-10;

    & h1 {
        @apply text-[28px] leading-none font-semibold text-text-black col-span-full self-center;
    }

    .row {
        @apply grid grid-cols-8 col-span-full gap-5 items-center;
    }

}

